/******************************************************************
Site Name: THEME NAME
Stylesheet: Base Mobile Stylesheet
******************************************************************/

/*********************
GENERAL STYLES
*********************/
body {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
	display: block !important;
	font-family: $sans-serif;
}
.wrap {
	width: 96%;
	margin: 0 auto;
}
.mobile{display: block;}
.full{display: none;}

/*********************
LINK STYLES
*********************/
a, a:visited {
	color: $link-color;
	text-decoration: none;
	
	&:hover, &:focus {
		color: $link-color-dk;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		Basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************
H1, H2, H3, H4, H5 STYLES
******************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	a {
		
	}
}

h1, .h1 {
	
}

h2, .h2 {
	
}

h3, .h3 {
	
}

h4, .h4 {

}

h5, .h5 {
	
}

h6, .h6 {
	
}

/********************
ARTICLE STYLES
*********************/
article {
	
}
#feature {
	
}

/*********************
HEADER SYTLES
*********************/
.header {

	#logo { 
		a {
			font:{
				family: $sans-serif;
				size: 48px;
			}
			color: $primary;
		}
	}

	#desc {
		color: $primary;
	}		
}

/*********************
MOBILE NAVIGATION
*********************/

@import "mobile-nav"; // STANDARD MOBILE NAVIGATION

.nav {
	
	li {

		a {
			display: block;
			letter-spacing: 1px;
			padding: 15px 10px;
			text-decoration: none;
			color: $white;
			background-color: $primary;
			&:hover, &:focus {
				background-color: $primary-lt;
				color: $white;
			}
		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {
			// background-color: $primary-lt;
		}
	}  /* end current highlighters */

} /* end .nav */

/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	
	#inner-content {
		#main {
			
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {

	.widgettitle {
		
	}

	.widget {
		margin: 20px auto;
		
		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}
}

/*********************
FOOTER STYLES
*********************/
.footer {
	
	#inner-footer {
		background: $primary;
		a {
			color: $link-color-lt;	
		}
	}
}

.copyright {
	
}