/******************************************************************
Site Name: Div Basic
Stylesheet: Forms Stylesheet
******************************************************************/

form{
	font:{
		family: $sans-serif;
		size: 12px;
	}
	input{
		padding: 5px 10px;

	}
}